---
permalink: "blog/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>stackwith.me Field Notes</title>
  <subtitle>First-hand engineering notes from Joel Ryan's one-person software workshop.</subtitle>
  <link href="{{ site.url }}/blog/feed.xml" rel="self" />
  <link href="{{ site.url }}/blog/" />
  <id>{{ site.url }}/blog/</id>
  <updated>{% if collections.posts.length %}{{ (collections.posts | last).data.modified or (collections.posts | last).data.published }}T00:00:00Z{% else %}2026-08-05T00:00:00Z{% endif %}</updated>
  <author><name>{{ site.author.name }}</name><uri>{{ site.url }}/about.html#author</uri></author>
{% for post in collections.posts | reverse %}
  <entry>
    <title>{{ (post.data.headline or post.data.title) | xmlEscape | safe }}</title>
    <link href="{{ site.url }}{{ post.url }}" />
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.data.published }}T00:00:00Z</published>
    <updated>{{ post.data.modified or post.data.published }}T00:00:00Z</updated>
    <summary>{{ post.data.excerpt | xmlEscape | safe }}</summary>
  </entry>
{% endfor %}
</feed>
